<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Suggestions</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
<div style="margin-top: 40px"><h1 align="center">Welcome to Movie Recommendation!</h1></div>

</br></br>
<div >
<div class="div_top" >
    <b><p>Step 1: Tell us which genre you like &#128525;</p></b>
</div>
<div class="div_top">
    <form action="/recommend1M1" id="frecommend1" method="POST">
        <select class="round" name="generes" onchange="this.form.submit()">
            <option SELECTED value="">select</option>
            {% for genere in generes %}
            <option value="{{genere}}" {% if genere == selected_genre %} selected {% endif %} >{{genere}}</option>
            {% endfor %}
        </select>
    </form>

</div>
    </div>

{% if step1 %}
{% include "recommender1.html" %}
{% endif %}

{% include "layout.html" %}

</br></br></br>


{% if step2 %}
{% include "recommender2.html" %}
{% endif %}
{% if step1 or step2 %}
<div class="div_top" style="margin-top: 50px">
    <form action="/">
        <button class="button-reset" name="Reset" value="Reset">Reset</button>
    </form>
</div>
{% endif %}
{% if step1 == False and step2  == False %}
            {% for i in range(0,20) %}
            </br>
            {% endfor %}
{% endif %}
<div>
    {% include "footer.html" %}
</div>

</body>
</html>

<!-- Tell us what you like-->
<!-- other users also liked this -->