{% block recommender1 %}
<div class="div_top">
    <h4>Step 2: select your favorites</h4>
</div>
</br>
<form id="frecommender2" action="/recommender2" method="POST" >
     <input type="hidden" id="selected_genre" name="selected_genre" value="{{selected_genre}}">
<div class=inner_div_overflow>
    <table>
        <tbody>
        <tr>
            {% for movie in movies %}
            <td>
                <div>
                    <div>
                        <img alt="{{movie}}" src="https://liangfgithub.github.io/MovieImages/{{movie}}.jpg?raw=true">
                    </div>
                    <div style="text-align: center;">
                        <div class="rate">
                            <input id="star_{{movie}}_5" name="rate_{{movie}}" type="radio" value="{{movie}}_5"/>
                            <label for="star_{{movie}}_5" title="text">5 stars</label>
                            <input id="star_{{movie}}_4" name="rate_{{movie}}" type="radio" value="{{movie}}_4"/>
                            <label for="star_{{movie}}_4" title="text">4 stars</label>
                            <input id="star_{{movie}}_3" name="rate_{{movie}}" type="radio" value="{{movie}}_3"/>
                            <label for="star_{{movie}}_3" title="text">3 stars</label>
                            <input id="star_{{movie}}_2" name="rate_{{movie}}" type="radio" value="{{movie}}_2"/>
                            <label for="star_{{movie}}_2" title="text">2 stars</label>
                            <input id="star_{{movie}}_1" name="rate_{{movie}}" type="radio" value="{{movie}}_1"/>
                            <label for="star_{{movie}}_1" title="text">1 star</label>
                        </div>
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
</div>
 <div class="container">

            <button class="four" name="recommend" value="recommend">Finally, <b>Suggest Me</b></button>
             </div>

 </form>
{% endblock %}